anytree==2.12.1
fastapi==0.110.0
loguru==0.5.3
matplotlib==3.6.2
networkx==3.1
numpy==1.23.4
openai==1.14.3
pymilvus==2.4.0
pymongo==3.12.0
PyMySQL==1.1.0
pytest==8.1.1
Requests==2.31.0
setuptools==69.2.0
uvicorn==0.29.0
